body {
  font-family: Arial, Arial, Helvetica, Helv, sans-serif;
  background-color: black;
  color: #333;
  padding: 0;
  margin: 0;
}
header {
  display: none;
}
blockquote {
  display: inline-block;
  background: #f7f7f7;
  padding: 0.1em 1em;
  margin: 1em 0;
  border-left: solid #aaa 0.3em;
}
sup {
  font-size: 60%;
}
pre {
  display: inline-block;
  margin: 0 3em;
  padding: 1em;
  background: #eee;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
code {
  font-size: 120%;
  font-weight: 600;
  white-space: pre;
}
code.signature {
  padding: 0.5em;
  background-color: #f0f0ff;
  border: solid #aaf 0.1em;
  border-radius: 0.3em;
}
figure {
  margin: 2em;
}
figure img {
  width: 100%;
}
a {
  color: black;
}
a:hover {
  color: darkblue;
  background-color: lightcyan;
}
.prose > p {
  margin-left: 1em;
  margin-right: 1em;
  text-indent: 1.5em;
}
#TOC {
  font-size: 110%;
}
#TOC ul {
  padding: 0;
  padding-left: 1em;
}
#TOC ul li {
  list-style: none;
}
#TOC ul li a {
  display: none;
}
#TOC ul li ul li {
  list-style: disc;
  margin: 0.2em 0;
}
#TOC ul li ul li a {
  display: inline;
  text-decoration: none;
}
section.level1 {
  background: white;
  min-width: 55em;
  max-width: 60em;
  margin: 0 auto;
  padding: 1em;
}
section.level2 {
  margin-top: 1em;
  padding: 0.5em;
}
section.level3 {
  margin-top: 1.5em;
}
section.level3 table {
  margin-left: 2.5em;
}
h1 {
  margin: 0;
  font-size: 200%;
  font-weight: bold;
}
h2 {
  margin: 0.5em -0.5em;
  padding: 0.5em 0.5em 0.4em 0.5em;
  font-size: 140%;
  font-weight: bold;
  line-height: 1.3em;
  background: gray;
  color: white;
  border-radius: 0.2em;
}
h3 {
  font-size: 130%;
  font-weight: bold;
}
h3 code.signature {
  margin-left: -0.5em;
}
h4 {
  font-size: 100%;
  font-weight: bold;
  font-style: italic;
}
table {
  width: auto;
  border: solid #777 0.1em;
  border-collapse: collapse;
}
table caption {
  text-align: center;
}
table thead {
  background-color: #eee;
}
table td,
table th {
  padding: 0.2em 0.5em;
  border: solid #777 0.1em;
}
table th {
  white-space: nowrap;
  background-color: #f7f7f7;
}
table tr:nth-child(even) {
  background-color: #fcfcff;
}